@import "main.css";
/* body {
    background-color: #FFF7EB;
}

nav {
    background-color: #C70039;
}
.navbar-brand {
    padding-left: 15px;
    font-weight: bold;
    font-family: "Copperplate";
    font-size: 30px;
}

.nav-link {
    font-family: "Copperplate";
    font-size: 20px;
    font-weight: bold;
}

#sign-in {
    font-weight: bold;
    font-size: 20px;
    color: black;
} */

#login-card {
    margin-top: 15px;
    width: 30rem;
    height: 20rem;
}

#login-heading {
    margin-top: 2.5rem;
    font-family: "Copperplate";
    font-size: 60px;
    color: #6B6965;
}

#divider {
    width: 60%;
    height: 5px;
    margin: auto;
    color: black;
}

.card {
    background-color: #FFF7EB;
}

button {
    margin-top: 15px;
}

#login-button {
    text-align: center;
    justify-content: center;
    background-color: grey;
}

.centered-container {
    text-align: center;
}

.form-control {
    background-color: lightgrey;
}

.form-control {
    margin-bottom: 10px;
}
