@import "main.css";

#login-card {
    margin-top: 15px;
    width: 30rem;
    height: 20rem;
}

#login-heading {
    margin-top: 4rem;
    font-family: "Amerhyst";
    font-size: 60px;
    color: #6B6965;
}

#divider {
    width: 60%;
    height: 5px;
    margin: auto;
    color: black;
}

.card {
    background-color: #FFF7EB;
}

button {
    margin-top: 15px;
}

#login-button {
    text-align: center;
    justify-content: center;
    background-color: grey;
}

.centered-container {
    text-align: center;
}

.form-control {
    background-color: lightgrey;
}

.form-control {
    margin-bottom: 10px;
}
