html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: #FFF7EB;
}

.navbar{
    background-color: #a0764f;
    padding: 10px;
}

.navbar-brand{
    padding-left: 50px;
    font-size: 25px;
    font-family: 'Amehysta';
    letter-spacing: 6px;
}


.nav-item{
    padding-left: 20px;
    font-family: 'Amehysta';
    font-size: 15px;
}

#sign-in {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0.5rem;
}

h1#brand {
    font-family: "Amehysta";
    font-size: 60px;
    font-weight: bold;
}

h3#slogan {
    margin-top: 20px;
    font-family: "Amehysta";
    font-size: 35px;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

button.home-pg {
    position: relative;
    margin-top: 20%;
}

button.home-pg:hover {
    transform: scale(1.25);
}

img#home-pg-image1, img#home-pg-image2 {
    position: relative;
    width: 100%;
    height: 65%;
    border-image-width: 0;
}

img#home-pg-image3 {
    position: relative;
    width: 100%;
    height: auto;
    border-image-width: 0;
    z-index: -1;
}

img#home-pg-image4 {
    position: relative;
    width: 100%;
    height: 500px;
}

/* hr#home-pg-line-decoration {
    position: relative;
    width: 100%;
    height: 5px;
    border: 10px solid red;
    align-items: right;
    justify-content: end;
    margin-bottom: 50%;
} */

@media (max-height: 703px) { 
    img#home-pg-image1, img#home-pg-image2 {
        height: 80%;
    }
}

@media (max-width:425px) {
    div#home-pg-col2, div#lg-sign-in-button {
        display: none;
    }

}

@media (max-width:768px) {
    div#home-pg-col3 {
      display: none;
    }
}

@media (max-height:860px) {
    div#optional-home-container {
        display: none;
    }
}

@media (min-width:426px) {
    div#sm-sign-in-button {
        display: none;
    }
}
.container-home {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

#optional-home-container {
    height: 500px;
}

.header{
    position: static; 
    color: white;
    font-family: 'Amehysta';
    letter-spacing: 20px;
    font-size: 70px;
    margin-top: 40px;
    padding-right: 500px;
}

.redline{
    position: static; 
    margin-left: 350px;
}

.subheader{
    position: static; 
    color: white;
    font-family: 'Amehysta';
    letter-spacing: 5px;
    font-size: 22px;
    margin-left: 200px;
    margin-top: 20px;
}

.thug{
    width: 100%;
    height: 80%;
}

.girl{
    width: 100%;
    height: 80%;
}

.home{
    color: white;
    background-color: #a0764f;
    width: 200px;
    font-family: 'Amehysta';
    font-size: 20px;
    margin-right: 100px;
    margin-bottom: 10px;
}