.navbar{
    background-color: #A30000;
    padding: 10px;
}

.createOutfit{
    background-color: #A30000;
    margin-top: 75px;
    font-family: 'Amehysta';
    letter-spacing: 5px;
    font-size: 20px;
    height: 50%;
    width: 75%;
}

body {
    padding-top: 90px;
}

.navbar-brand{
    padding-left: 50px;
    font-size: 25px;
    font-family: 'Amehysta';
    letter-spacing: 6px;
}


.nav-item{
    padding-left: 20px;
    font-family: 'Amehysta';
    font-size: 15px;
}

.welcome{
    font-family: 'Amehysta';
    letter-spacing: 6px; 
}

.welMessage{
    font-size: 30px;    
}

.content{
    padding-top: 10px;
    padding-left: 50px;
}

.myfits{
    display: inline-block;
    font-family: 'Amehysta';
    letter-spacing: 6px; 
    font-size: 20px;
    border-bottom: 5px solid black;
    padding-left: 275px;
    padding-right: 275px;
    padding-bottom: 40px;
}

.mycloset{
    font-family: 'Amehysta';
    letter-spacing: 6px; 
    font-size: 20px;
}

.wardrobeOptions{
    background-color: grey;
}

.fitted{
    width: 50%;
    height: 100%;
}

.fits{
    padding-left: 60px;
}



.wadrobeSelection{
    background-color: rgb(190, 190, 190);
    padding-bottom: 200px;
}

.hi{
    width: 100%;
    height: 100%;
}

.addToCloset{
    position: absolute;
    background-color: #A30000;
    margin-top: 25px;
    font-family: 'Amehysta';
    letter-spacing: 5px;
    font-size: 20px;
    height: 6%;
    width: 40%;
}

.usability{
    font-family: 'Amehysta';
    font-size: 10px;
    letter-spacing: 2px;
}

.userDescription{
    font-family: 'Amehysta';
    font-size: 10px;
    letter-spacing: 2px;
}